<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" i18n="dashboard"></h1>
            <div ng-include="'partials/alert.html'"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <!-- New Comments Panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" odometer="26"></div>
                            <div i18n="new_comments"></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" i18n="view_details"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- New Comments Panel -->
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- New Tasks Panel -->
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" odometer="12"></div>
                            <div i18n="new_tasks"></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" i18n="view_details"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- New Tasks Panel -->
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- New Orders Panel -->
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" odometer="124"></div>
                            <div i18n="new_orders"></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" i18n="view_details"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- New Orders Panel -->
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- Support Tickets Panel -->
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" odometer="13"></div>
                            <div i18n="support_tickets"></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" i18n="view_details"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- Support Tickets Panel -->
        </div>
    </div>
</div>