<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-if="!active('/administrator')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AC Seed</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-ng-class="{ active: active('/home')}">
                    <a href="#/home">Home</a>
                </li>
                <li data-ng-hide="user.loggedIn()" data-ng-class="{ active: active('/login')}">
                    <a href="#/login">Login</a>
                </li>
                <li data-ng-hide="user.loggedIn()" data-ng-class="{ active: active('/register')}">
                    <a href="#/register">Register</a>
                </li>
                <li data-ng-show="user.loggedIn()">
                    <a href="#/administrator">Administrator Panel</a>
                </li>
                <li data-ng-show="user.loggedIn()">
                    <a href data-ng-click="logout()">Logout</a>
                </li>
                <li data-ng-class="{ active: active('/about')}">
                    <a href="#/about">About</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>