<div class="wrapper" data-ng-show="user.loggedIn()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Roles</h1>
            <div ng-include="'partials/alert.html'"></div>
        </div>
    </div>
    <div class="row" loading="['tableLoaded']">
        <div class="col-lg-12">
            <table ng-table="tableParams" class="table table table-striped table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="role in $data">
                        <td class="vmiddle" data-title="'Role'" sortable="'role'">{{role}}</td>
                        <td class="vmiddle" style="width: 50px">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                                    <span class="fa fa-chevron-down"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li data-ng-if="!permissions.users.contains('update')" role="presentation"><a role="menuitem" tabindex="-1" href="#/administrator/role/{{role}}">View</a></li>
                                    <li data-ng-if="permissions.users.contains('update')" role="presentation"><a role="menuitem" tabindex="-1" href="#/administrator/role/{{role}}">Edit</a></li>
                                    <li data-ng-if="permissions.users.contains('delete')" role="presentation"><a role="menuitem" tabindex="-1" href data-ng-click="deleteRole(role)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" loading="['tableLoaded']">
        <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Role Name..." data-ng-model="input.role" data-ng-disabled="!permissions.roles.contains('create')">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-ng-click="addRole(input.role); input.role=''" data-ng-disabled="!permissions.roles.contains('create')">Add Role</button>
              </span>
            </div>
        </div>
    </div>
</div>
